[submodule "medusa_software/submodules/capstone"]
	path = medusa_software/submodules/capstone
	url = https://github.com/capstone-engine/capstone.git
	branch=next
[submodule "medusa_software/submodules/keystone"]
	path = medusa_software/submodules/keystone
	url = https://github.com/keystone-engine/keystone.git
[submodule "medusa_software/submodules/unicorn"]
	path = medusa_software/submodules/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "medusa_software/submodules/LIEF"]
	path = medusa_software/submodules/LIEF
	url = https://github.com/lief-project/LIEF.git
[submodule "medusa_software/submodules/binary-samples"]
	path = medusa_software/submodules/binary-samples
	url = https://github.com/JonathanSalwan/binary-samples.git
[submodule "medusa_software/submodules/gtksourceview"]
	path = medusa_software/submodules/gtksourceview
	url = https://gitlab.gnome.org/GNOME/gtksourceview.git
[submodule "medusa_software/submodules/gtksourceviewmm"]
	path = medusa_software/submodules/gtksourceviewmm
	url = https://gitlab.gnome.org/GNOME/gtksourceviewmm.git
	branch = gtksourceviewmm-3-18
[submodule "gtksourceviewmm"]
	branch = gtksourceviewmm-3-18
