[submodule "medusa_software/submodules/capstone"]
	path = medusa_software/submodules/capstone
	url = https://github.com/capstone-engine/capstone.git
	branch=next
[submodule "medusa_software/submodules/keystone"]
	path = medusa_software/submodules/keystone
	url = https://github.com/keystone-engine/keystone.git
[submodule "medusa_software/submodules/unicorn"]
	path = medusa_software/submodules/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "medusa_software/submodules/LIEF"]
	path = medusa_software/submodules/LIEF
	url = https://github.com/lief-project/LIEF.git
[submodule "medusa_software/submodules/binary-samples"]
	path = medusa_software/submodules/binary-samples
	url = https://github.com/JonathanSalwan/binary-samples.git
[submodule "medusa_software/submodules/gtksourceview"]
	path = medusa_software/submodules/gtksourceview
	url = https://gitlab.gnome.org/GNOME/gtksourceview.git
[submodule "medusa_software/submodules/gtksourceviewmm"]
	path = medusa_software/submodules/gtksourceviewmm
	url = https://gitlab.gnome.org/GNOME/gtksourceviewmm.git
	branch = gtksourceviewmm-3-18
[submodule "gtksourceviewmm"]
	branch = gtksourceviewmm-3-18
[submodule "medusa_software/submodules/mINI"]
	path = medusa_software/submodules/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "medusa_software/submodules/source-code-pro"]
	path = medusa_software/submodules/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
[submodule "medusa_software/submodules/doxygen-awesome-css"]
	path = medusa_software/submodules/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "wiki"]
	path = wiki
	url = ../wiki.git
[submodule "medusa_software/submodules/rapidxml"]
	path = medusa_software/submodules/rapidxml
	url = https://github.com/viriuwu/rapidxml.git
[submodule "medusa_software/submodules/pugixml"]
	path = medusa_software/submodules/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "medusa_software/submodules/re2"]
	path = medusa_software/submodules/re2
	url = https://github.com/google/re2.git
[submodule "medusa_software/submodules/jpcre2"]
	path = medusa_software/submodules/jpcre2
	url = https://github.com/jpcre2/jpcre2.git
