# built binaries
bin

# .DS_Store files make me want to not be alive
.DS_Store

# CMake be damned
build

# nano damn you
*.swp

# fuck macOS for this shit
._*

# VSCode
.vscode

# doxygen
doxygen_out

# latex
book.pdf
book.aux
book.log

# Pillow output
pil

# node_modules
node_modules

package*.json

ETHICS.md