################################################################################
#	 __  __          _                                                         #
#	|  \/  | ___  __| |_   _ ___  __ _                                         #
#	| |\/| |/ _ \/ _` | | | / __|/ _` |                                        #
#	| |  | |  __/ (_| | |_| \__ \ (_| |                                        #
#	|_|  |_|\___|\__,_|\__,_|___/\__,_|                                        #
#                                                                              #
#	------------------------------------------------------------------------   #
#	                                                                           #
#		.gitignore                                                             #
#	                                                                           #
################################################################################

# `bin` contains binary files & build artifcats
bin

# .DS_Store are created by macOS (X)
.DS_Store

# more macOS temporary/garbage files
._*

# CMake default build folder name
build

# nano swap file name
*.swp

# VSCode
.vscode

# Doxygen HTML output
doxygen_out

# LaTeX output files
book.pdf
book.aux
book.log
book.out

# Pillow output
pil

# node_modules contains packages installed by NPM
node_modules

# package*.json are other files used by NPM that we don't want
package*.json

# currently untracked as i (spv) drunkenly wrote this file and don't want to
# commit it until i properly rewrite it
ETHICS.md

# not committing this file yet, it's from p0laris (p0laris.dev), and contains
# "humorous" quotes
motd.txt

# unsure of what this was for, will not remove though.
*.save

# Java build artifacts
sources.txt
*.class
*.jar

# temporary folder for any garbage Medusa work, like running `tree` to pipe into
# a file
tmp/*