[Desktop Entry]
Type=Application
Version=1.0
Name=Medusa
Comment=a project to create the ultimate software & hardware research tool
Path=/
Exec=xeyes
Icon=medusa
