* {
	font-family: monospace;
}

pre {
	display: inline;
}

#enclosure {
	margin-top: 120pt;
	margin-left: 24pt;
	background-color: rgba(32, 32, 32, 1.0);
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(32, 32, 32, 1.0);
	border-bottom: 1pt solid;
}

#header_internal {
	margin-left: 24pt;
	margin-bottom: 16pt;
}

.name_text {
	animation-name: wavy;
	animation-duration: 1.3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	position: relative;
}

* {
	background-color: #202020;
	color: #ffffff;
	tab-size: 4;
}

a {
	color: #00a0ff;
}

a:visited {
	color: #40c040;
}

#countup {
	background-color: rgba(32, 32, 32, 1.0);
}

#header {
	background-color: rgba(32, 32, 32, 1.0);
}

#logo {
	width: 32pt;
}
